---
import BaseHead from './BaseHead.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';

interface Props {
  title?: string;
  description?: string;
  hideHeader?: boolean;
  transparentHeader?: boolean;
}

const { title, description, hideHeader = false, transparentHeader = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    {!hideHeader && <Header transparent={transparentHeader} />}
    <slot />
    <Footer />
  </body>
</html>
